@import "./header.css";
@import "./content.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-granite: #252629;
  --color-nemo: #ff4a11ff;
  --color-foam: #fff;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}
