:root {
  --body-bg: #fddcd2;

  --header-bg: #020003;
  --header-text: #ea93e2;

  --main-bg: #fddcd2;
  --main-text: #040106;
  --main-title-bg: #ea93e2;

  --card-bg: #54eb2b7b;
  --card-text: #201e1d;
}
