@import "./global.css";

/*
Add here the code for each challenge
*/

/*  -----------------------------------------------------------
            Challenge 1: Card Background Fade
---------------------------------------------------------------- */

/* --- Section 1: Card Background Color Change --- */
.colorChangeCard {
  width: 250px;
  height: 150px;
  background-color: #e0f7fa;
  /* Initial light blue */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  transition: background-color 0.8s ease-in-out;
  /* Smooth fade transition */
  margin-bottom: 20px;
}

/*  -----------------------------------------------------------
            Challenge 2: Button Hover Size Change
---------------------------------------------------------------- */

.hoverButton {
  transition: transform 300ms ease-in-out;
  will-change: transform;
}

.hoverButton:hover {
  transform: scale(1.1);
}

/*  -----------------------------------------------------------
            Challenge 3: Loading Spinner Toggle
---------------------------------------------------------------- */
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f680;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.loader-container.active {
  opacity: 1;
  visibility: visible;
}

.loader {
  border: 8px solid var(--grey-dark);
  border-top: 8px solid var(--secondary);
  border-radius: 50%;
  width: 50px;
  height: 50px;

  animation: spin 1s linear infinite;
}

/* Add to the keyframes the transformation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  -----------------------------------------------------------
            Challenge 4: Slide-in Div
---------------------------------------------------------------- */

.slideInBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 50px;
  background-color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-top: 15px;

  transform: translateX(100%);

  transition: transform 400ms ease-in-out;
}

.slideInBox.active {
  transform: translateX(0);
}
