.content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

.content__info {
  flex: 1 1 200px;
  min-width: 200px;
}

.content__info-title {
  letter-spacing: 0.025em;
}

.content__figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-nemo);
  border-radius: 4px;
}

.content__figure-caption {
  color: var(--color-foam);
}

.content__links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.content__link {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-granite);
  color: #fff;
}

.content__link:hover,
.content__link:focus-visible {
  background-color: #8336ff7b;
  text-decoration: none;
}

.into-text-markirung {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: 4px;
  letter-spacing: 0.025em;
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-foam);
}
